.widgetContainer {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
    width: 290px;
}

.widgetContainer .widget {
	width: 290px;
    border: 1px solid var(--color-base-border);
	background-color: var(--color-primary);
	box-sizing: border-box;
	text-align: center;
	top: 40px;
}

.widgetContainer .widget.sticky {
	position: fixed;
	top: 20px;
	transition: top 0.3s ease-out;
}

.widgetContainer .widget .widgetInfo {
	padding: 15px;
}

.widgetContainer .widget .widgetInfo img.avatar {
	width: 195px;
	height: 195px;
	border-radius: 50%;
}

.widgetContainer .widget .widgetInfo .name {
	font-size: 1.5rem;
	margin-bottom: 0;
	font-weight: 300;
}

.widgetContainer .widget .widgetInfo .businessName {
	font-size: 1rem;
}

.widgetContainer .widget .widgetActions {
	padding: 15px;
	background-color: var(--color-bg-action);
	text-align: center;
	position: relative;
}

.widgetContainer .widget .widgetActions a {
	display: inline-block;
	margin: 0 15px 15px;
}

.widgetContainer .widget .widgetActions a svg {
	width: 25px;
	height: 25px;
	display: block;
}

.widgetContainer .widget .widgetActions select {
	position: absolute;
	top: 0;
	border: none;
	cursor: pointer;
	background-color: var(--color-primary);
    color: var(--color-foreground);
}

.widgetContainer .widget .widgetActions select.langSelect {
	right: 0;
}

.widgetContainer .widget .widgetActions select.modeSelect {
	left: 0;
}


@media (max-width: 991px) {
	.widgetContainer {
		position: relative;
		top: auto;
		right: auto;
		left: auto;
		bottom: auto;
        width: 100%;
	}

	.widgetContainer .widget {
		width: 100%;
        margin-top: 15px;
	}

	.widgetContainer .widget.sticky {
		position: relative;
		top: auto;
	}
}

@media print {
	.widgetContainer .widget .widgetActions {
		display: none!important;
	}
}
