.menu {
	list-style: none;
	padding: 0;
	z-index: 999999;
	position: relative;
	text-align: right;
	transition: right 0.3s ease-in-out;
}

.menu .closeMobile {
	display: none;
}

.menu li {
	display: inline;
	margin: 0 5px;
}

.menu li span {
	padding: 5px 15px;
	font-weight: 500;
	cursor: pointer;
}

.menu li span:hover,
.menu li span:focus,
.menu li span:active {
	text-decoration: underline;
}

@media (max-width: 991px) {
	.menu {
		width: auto;
		padding: 15px 0 15px 15px;
		position: fixed;
		top: 35px;
		right: -150px;
		background-color: white;
	}

	.menu .closeMobile {
		display: block;
		cursor: pointer;
		font-size: 1rem;
		float: left;
		background-color: #c0e3e7;
		padding: 4px;
		position: relative;
		top: -15px;
		left: -15px;
	}

	.menu.open {
		right: 0;
	}

	.menu li {
		display: block;
		margin: 5px;
	}
}

.toggleMenu {
	width: 60px;
	height: 60px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	font-size: 2rem;
	cursor: pointer;
	box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.3s ease-in-out;
	position: fixed;
	display: none;
	z-index: 1;
	right: 15px;
	top: 15px;
}

.toggleMenu:hover,
.toggleMenu:focus {
	box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.25);
}

.toggleMenu svg {
	position: relative;
	top: 5px;
}

@media (max-width: 991px) {
	.toggleMenu {
		display: block;
	}
	.toggleMenu.open {
		display: none;
	}
}

@media (min-width: 992px) {
	.backdropMobile {
		display: none;
	}
}

@media print {
	.toggleMenu {
		display: none!important;
	}
}
