.form {
	border-bottom: 2px solid var(--color-primary);
	width: 460px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.control {
	margin-bottom: 0.5rem;
}

.control label {
	font-weight: 400;
	font-size: 0.9rem;
	margin-bottom: 0.25rem;
	display: block;
}

.form label span {
	text-decoration: underline;
	cursor: pointer;
}

.control input,
.control textarea {
	font: inherit;
	border: 1px solid #e1e1e1;
	width: 100%;
}

.control p {
	font-size: 0.85rem;
	width: 100%;
}

.actions {
	display: flex;
	justify-content: flex-end;
}

.invalid label,
.invalid p,
.error {
	color: var(--color-error-foreground);
}

.invalid input,
.invalid textarea {
	border-color:  var(--color-error-border);
	background-color: #ffeff1;
}

.form input[type='checkbox'] {
    margin-right: 10px;
}

.privacyPolicy {
	font-size: 0.9rem;
	color: var(--color-foreground);
    display: inline-block;
    margin-bottom: 20px;
}

.privacyPolicy span:hover, .privacyPolicy span:focus {
	color: var(--color-link-hover);
}

.loader {
	margin: 0 auto;
	border: 16px solid var(--color-border);
	border-top: 16px solid var(--color-primary);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 991px) {
    .form input[type='checkbox'] {
        width: 24px;
        height: 24px;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
    }

    .privacyPolicy {
        display: inherit!important;
    }
}

@media print {
	.form {
		display: none!important;
	}
}
