.bubblesContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.bubblesContainer span {
	padding: 3px 4px;
	font-size: 0.8rem;
	text-transform: uppercase;
	background-color: var(--color-primary);
	margin-right: 3px;
	margin-bottom: 3px;
	font-weight: 400;
}

.bubblesContainer span.basic {
	background-color: var(--color-bubble-basic);
    position: relative;
}

.bubblesContainer span.basic:hover::after {
	display: block;
}

.bubblesContainer span.basic::after {
	content: "Basic";
	position: absolute;
	width: auto;
    padding:  3px 5px;
    font-size: 0.8rem;
    background-color: var(--color-bubble-basic);
	display: none;
    top: -25px;
    right: 0;
}
