.button {
	font: inherit;
	cursor: pointer;
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	color: var(--color-foreground);
	padding: 0.25rem 2rem;
	border-radius: 2px;
	font-weight: bold;
	transition: background-color 0.5s ease;
	line-height: 1.5rem;
	font-weight: 500;
}

.button:hover,
.button:active,
.button:focus {
	background-color: var(--color-button-hover);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
	background-color: var(--color-grey-light-1);
	color: var(--color-grey-darker);
	border-color: var(--color-grey-darker);
	cursor: not-allowed;
}
